.wrapper_a7e7a8 .scroller__3d071 {
	overflow: hidden scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-right: 0px;
	background-color: var(--main-color);
	margin-right: var(--DSAC-scroller-margin-container);
 }

.wrapper_d281dd .childWrapper__01b9c {
	border-radius: 8px !important;
}
.folder__17546, .folderIconWrapper__72239 {
	border-radius: 4px !important;
}
.circleButtonMask-1_597P, .circleIconButton_d8df29 {
	border-radius: 8px !important;
}

.listItem_fa7b36 {
	position: relative;
	margin: 4px;
	display: flex;
	justify-content: center;
	width: var(--custom-list-items-list-item-width);
	width: calc(100% - 26px);
	display: flex;
	justify-content: flex-start;
	border-radius: calc(var(--button-height) / 2);
	padding: 4px 4px;
}

.blobContainer__5ee50 {
	width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.wrapper_a7e7a8,
.wrapper_ed1dea,
.guilds__2b93a {
	width: var(--DSAC-scroller-witdh);
}

.listItem_fa7b36:has(> .guildSeparator_dcb3cc) {
	position: relative;
    margin: 0px !important;
    width: var(--DSAC-scroller-witdh) !important;
    background: transparent !important;
    padding: 0px !important;
}

.guildSeparator_dcb3cc {
    width: 160px !important;
	margin: 5px auto;
}

.listItem_fa7b36 .wrapper__3af0b .icon__0cbed {
	border-radius : 0px !important;
}

.wrapper__3af0b svg mask {
	display: none;
}

.icon__0cbed,
.wrapper__3af0b,
.svg_ad7356 {
    width: calc(var(--DSAC-scroller-width) - 20px)!important;
    height: 48px;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.wrapper__3af0b foreignObject {
	width: 168px;
	position: absolute;
	overflow: visible;
}

.wrapper_d281dd {
	position: absolute;
	border-radius: calc( var(--DSAC-border-radius) * 2);
	overflow: hidden;
	left: -66px;
	background: var(--sidebar-panel-color) !important;
	width: 48px;
	padding-right: calc(100% - 38px);
	z-index: 2;
}

.listItem_fa7b36 .wrapper__3af0b {
	border-radius:  calc( var(--DSAC-border-radius) * 2);
}

button.button_afdfd9.lookFilled__19298.colorBrand_b2253e.sizeMin__94642.grow__4c8a4 {
	width: var(--DSAC-readall-button-width) !important;
    margin: 5px 10px 5px 10px !important;
}

/* PILL */
.pill__6b31b,
.pill_d1140c  {
	top: 4px;
	left: 2px
}

div.wrapper_d281dd:before {
	content: attr(aria-label);
	color: white;
	position: absolute;
	z-index: -1;
	white-space: nowrap;
	left: 54px;
	font-size: var(--guild-font-size);
}

div.wrapper_d281dd:hover:before {
	animation: slide 10s linear infinite;
	animation-delay: 2s;
}

.wrapper_ed1dea ul {
	padding-bottom: 30px !important;
}

.folder__17546 {
	position: absolute;
	left: -66px;
	width: calc(var(--DSAC-scroller-width) - 20px);
	z-index: 2;
	border-radius: calc( var(--DSAC-border-radius) * 2) !important;
	overflow: hidden;
}

.expandedFolderBackground__1bec6 {
	left: 8px;
   	width: calc(var(--DSAC-scroller-width) - 20px);
}

.folderIconWrapper__72239 {
	padding-right: calc(100% - 38px);
    	border-radius: calc( var(--DSAC-border-radius) * 2);
}

@keyframes slide {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-62%, 0);
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
	}
  }

.pill__6b31b,
.pill_d1140c,
.pill__357e7,
.item_f9d377 {
    width: 10px !important;
    border-radius: calc(var(--DSAC-border-radius) * 2);
    left: -4px;
    margin-left: 0;
}

.pill__357e7.wrapper__3670f {
    top: 5px;
}

#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 1"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 2"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 3"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 4"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 5"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 6"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 7"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 8"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 9"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 10"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 11"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 12"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 13"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 14"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 15"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 16"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 17"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 18"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 19"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 20"] {
    background-color: var(--DSAC-accent-unread);
}

#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 21"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 22"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 23"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 24"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 25"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 26"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 27"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 28"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 29"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 30"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 31"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 32"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 33"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 34"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 35"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 36"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 37"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 38"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 39"],
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 40"] {
    background-color: var(--DSAC-accent-opened) !important;
}
