/**
 * @name DisplayServersAsChannels
 * @version 1.1.0
 * @description A light theme to transform this circle line into beautiful folders
 * @author Goelant
 *
 * @website https://pyratt.sh
 * @source https://pyratt.sh
 */

 /* Import all the discord classes stuff */
 @import url(https://raw.githubusercontent.com/Goelant/goelant.github.io/main/vencord/themes/displayserversaschannels/css/blabla.css);

 :root {
	/****************/
	/* DSAC options */
	/****************/
	--DSAC-border-radius: 8px;

	--DSAC-scroller-width: 200px;
	--DSAC-scroller-margin-container: 8px;

	--DSAC-guild-font-size: 1rem;

	--DSAC-accent-unread: #5b5b5b;
    	--DSAC-accent-opened: var(--brand-experiment, (hsl(var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness)));

	/*************************/
	/* other PLUGINS options */
	/*************************/

	/* Vencord ReadAllNotificationsButton */
	--DSAC-readall-button-width: 168px;
 }
 
